/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* font-face  */
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../assets/fonts/Roboto-Regular/Roboto-Regular.eot'); /* IE9+ Compat Modes */
  src: url('../assets/fonts/Roboto-Regular/Roboto-Regular.eot')
      format('embedded-opentype'),
    /* IE6-IE8 */ url('../assets/fonts/Roboto-Regular/Roboto-Regular.woff2')
      format('woff2'),
    /* Super modern browsers */
      url('../assets/fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
    /* Modern browsers */
      url('../assets/fonts/Roboto-Regular/Roboto-Regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../assets/fonts/Roboto-Regular/Roboto-Regular.svg') format('svg'); /* Legacy iOS */
}
/* font-face */
body {
  font-family: 'Roboto-Regular';
}

/*  */
/* header */
header {
  border-bottom: 5px solid black;
}
.number {
  width: 10%;
  margin: 0 auto;
  background-color: #000;
  color: #f1f1f1;
  font-size: 50px;
  transform: translateY(-50%);
}
/* header */
